<header class="header">
	<a href="/user/dashboard" class="header__logo"><%= user %>'s Admin</a>
	<nav class="header__nav">
		<ul>
			<li>
				<a href="/" class="<%= isActiveRoute('/',currentRoute)%>" >Home</a>
			</li>
			<% if(user===undefined){ %>
			<li>
				<a href="/login" class="<%= isActiveRoute('/login',currentRoute)%>" >Login</a>
			</li>
			<li>
				<a href="/register" class="<%= isActiveRoute('/register',currentRoute)%>" >Sign Up</a>
			</li>
			<% } %>
			<% if (user) { %>
			<li>
				<a href="/user/dashboard" class="<%= isActiveRoute('/user/dashboard',currentRoute)%>" >Dashboard</a>
			</li>
			<% } %>
		</ul>
	</nav>
	<div class="header__button">
		<a href="/logout">
			Logout
		</a>
	</div>
</header>