<!-- comment.ejs -->

<% const displayComments=(comments, level=0)=> { %>

<ul class="comments-list">

  <% comments.forEach(comment=> { %>
    <% if (comment.parentComment===null && level===0) { %> 
      
      <li
        class="comment-container <%= comment.parentComment ? 'nested' : '' %>"
        style="--indent: <%=level * 20%>px; margin-left: var(--indent)"
      >
        <!-- Indentation based on the level -->
        <div>
            <span class="comment-author"> Comment by: <%= comment.username %> </span>
            <p class="comment-display"><%= comment.body %></p>
            <!-- Form for adding a new comment on this comment -->
            <div class="below-comment">
              <form
                class="reply-form"
                action="/comment/<%= comment._id %>/reply"
                method="POST"
              >
                <div>
                  <span class="reply-h">Reply</span>
                  <div class="form-group">
                    <textarea
                      name="reply"
                      rows="1"
                      class="form-control"
                      placeholder="Add your reply here"
                      required
                    ></textarea>
                    <button type="submit" class="btn btn-primary">Reply</button>
                  </div>
                </div>
              </form>
              <%- include('./del-comment.ejs',{comment,currUser}) %>
            </div>
        </div>

        <% if (comment.childrenComment && comment.childrenComment.length> 0) { %> 
          <% displayComments(comment.childrenComment, level + 1) %>
        <% } %>

      </li>

    <% } else if (comment.parentComment!==null && level!==0) { %> 

      <li
        class="comment-container <%= comment.parentComment ? 'nested' : '' %>"
        style="--indent: <%=level * 20%>px; margin-left: var(--indent)"
      >
        <!-- Indentation based on the level -->
        <div>
          <span class="comment-author"> Comment by: <%= comment.username %> </span>
          <p class="comment-display"><%= comment.body %></p>
          <!-- Form for adding a new comment on this comment -->
          <div class="below-comment">
            <form
              class="reply-form"
              action="/comment/<%= comment._id %>/reply"
              method="POST"
            >
              <div>
                <span class="reply-h">Reply</span>
                <div class="form-group">
                  <textarea
                    name="reply"
                    rows="1"
                    class="form-control"
                    placeholder="Add your reply here"
                    required
                  ></textarea>
                  <button type="submit" class="btn btn-primary">Reply</button>
                </div>
              </div>
            </form>
            <%- include('./del-comment.ejs',{comment,currUser}) %>
          </div>
        </div>

        <% if (comment.childrenComment && comment.childrenComment.length> 0) { %> 
          <% displayComments(comment.childrenComment, level + 1) %>
        <% } %>

      </li>

      <% }%> 

  <%}) %>

</ul>

<% } %> 
<!-- --------------------------Call Display Func----------------------------------------- -->
<% if (comments && comments.length> 0) { %> 
  <% displayComments(comments) %>
<% } %>